@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------------------------------------------*/

body {
    min-height: 130vh;
    min-width: 600px;
    background-color: #0a0f1d;
    transition: all 0.3s ease;
    overflow-x: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 58px;
    width: 300px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgb(37, 46, 71);
    z-index: 9999;
    padding: 0 10px;
}

nav button {
    flex: 1;
    margin: 0 5px;
    height: 36px;
    border: none;
    border-radius: 20px;
    background-color: rgb(37, 46, 71);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgb(37, 46, 71);
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgb(37, 46, 71) transparent transparent transparent;
}

nav button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.icon {
    font-size: 24px;
    font-weight: 300;
    color: #a7aab4;
    margin-top: 4px;
}

button:hover .icon {
    color: #45adf4;
}

/*-------------------------------------------------------------------------------------------------*/

.title {
    position: absolute;
    top: 450px;
    left: 40px;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
}

/*-------------------------------------------------------------------------------------------------*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 20px;
}

.card {
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.6rem;
    height: 400px;
    width: calc(100% - 20px);
    background: rgb(25, 32, 51);
}

.miner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 310px;
    width: calc(100% - 50px);
    top: 15px;
    left: 25px;
    background: rgb(36, 46, 73);
    border-radius: 0.6rem;
}

.promo-code {
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.6rem;
    height: 140px;
    width: calc(100% - 20px);
    top: 50px;
    background: rgb(25, 32, 51);
}

/*-------------------------------------------------------------------------------------------------*/

.line {
    position: absolute;
    content: "";
    width: 0.3rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    transition: transform 300ms ease;
    z-index: 4;
}

.cL7G3s {
    background: #45adf4;
}

.cpj5D2 {
    background: #f49d45;
}

/*-------------------------------------------------------------------------------------------------*/

.info {
    background-color: #9cd9fa;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #192033FF;
}

.lvl {
    position: absolute;
    top: 10px;
    right: 0;
}

/*-------------------------------------------------------------------------------------------------*/

@keyframes bounce {
    0%,
    100% {
        translate: 0px 36px;
    }
    50% {
        translate: 0px 46px;
    }
}

@keyframes bounce2 {
    0%,
    100% {
        translate: 0px 46px;
    }
    50% {
        translate: 0px 56px;
    }
}

@keyframes umbral {
    0% {
        stop-color: #d3a5102e;
    }
    50% {
        stop-color: rgba(211, 165, 16, 0.519);
    }
    100% {
        stop-color: #d3a5102e;
    }
}

@keyframes partciles {
    0%,
    100% {
        translate: 0px 16px;
    }
    50% {
        translate: 0px 6px;
    }
}

#particles {
    animation: partciles 4s ease-in-out infinite;
}

#animatedStop {
    animation: umbral 4s infinite;
}

#bounce {
    animation: bounce 4s ease-in-out infinite;
    translate: 0px 36px;
}

#bounce2 {
    animation: bounce2 4s ease-in-out infinite;
    translate: 0px 46px;
    animation-delay: 0.5s;
}

/*-------------------------------------------------------------------------------------------------*/

.input {
    position: relative;
    width: calc(100% - 50px);
    height: 50px;
    top: 15px;
    left: 25px;
    line-height: 30px;
    padding: 0 5rem 0 1rem;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    outline: none;
    background: rgb(36, 46, 73);
    color: #fff;
    transition: .5s ease;
}

.input::placeholder {
    font-size: 16px;
    color: #707e94;
}

/*-------------------------------------------------------------------------------------------------*/

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50px);
    margin: 0 auto;
    position: relative;
    top: 25px;
    gap: 10px;
}

.upgrade, .start {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 0.6rem;
    height: 50px;
    width: 49.5%;
    background: rgb(36, 46, 73);
    border: 0px;
    transition: transform 0.3s ease;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.activate {
    overflow: hidden;
    position: relative;
    top: 25px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 0.6rem;
    height: 50px;
    width: calc(100% - 50px);
    background: rgb(36, 46, 73);
    border: 0px;
    transition: transform 0.3s ease;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.start:hover {
    background: rgb(47, 58, 88);
    color: #45adf4;
}

.upgrade:hover {
    background: rgb(47, 58, 88);
    color: #34e243;
}

.activate:hover {
    background: rgb(47, 58, 88);
    color: #f49d45;
}

button:active {
    transform: scale(0.98);
}

/*-------------------------------------------------------------------------------------------------*/
