@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------------------------------------------*/

body {
    min-height: 100vh;
    min-width: 420px;
    background-color: #0a0f1d;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 58px;
    width: 300px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgb(37, 46, 71);
    z-index: 9999;
    padding: 0 10px;
}

nav button {
    flex: 1;
    margin: 0 5px;
    height: 36px;
    border: none;
    border-radius: 20px;
    background-color: rgb(37, 46, 71);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgb(37, 46, 71);
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgb(37, 46, 71) transparent transparent transparent;
}

nav button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.icon {
    font-size: 24px;
    font-weight: 300;
    color: #a7aab4;
    margin-top: 4px;
}

button:hover .icon {
    color: #45adf4;
}

/*-------------------------------------------------------------------------------------------------*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 20px;
}

.ckH7s3 {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    height: 300px;
    width: calc(100% - 20px);
    background: rgb(25, 32, 51);
}

/*.cJfg5sq {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: relative;*/
/*    height: 310px;*/
/*    width: calc(100% - 50px);*/
/*    background: rgb(36, 46, 73);*/
/*    border-radius: 0.6rem;*/
/*}*/

/*-------------------------------------------------------------------------------------------------*/

.counter {
    display: flex;
    justify-content: left;
    position: relative;
    top: 20px;
}

.counter div {
    width: 60px;
    height: 100px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: #29b6f6;
    border: #FFFFFF;
}

/*-------------------------------------------------------------------------------------------------*/

.line {
    position: absolute;
    content: "";
    width: 0.3rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    transition: transform 300ms ease;
    z-index: 4;
}

.cL7G3s {
    background: #45adf4;
}

/*-------------------------------------------------------------------------------------------------*/

.title {
    position: absolute;
    top: 20px;
    color: #FFFFFF;
    font-weight: 5;
    font-size: 26px;
}

.info-ci9ur7b {
    position: absolute;
    top: 60px;
    color: #707e94;
    font-size: 16px;
}

.info-cK7lqm {
    position: absolute;
    top: 260px;
    color: #FFFFFF;
    font-weight: 5;
    font-size: 16px;
}

.color-c7gKa {
    color: #fcbd0a;
}

.color-ck3fv {
    color: #45adf4;
}

.color-cJ6kP {
    color: #8372a9;
}

/*-------------------------------------------------------------------------------------------------*/








